RewriteEngine On

RewriteRule ^students/?$ students.php [L,QSA]
RewriteRule ^students/([1-9][0-9]*)/?$ students.php?id=$1 [L,QSA]
RewriteRule ^session/?$ session.php [L,QSA]
RewriteRule ^profile/?$ profile.php [L,QSA]
RewriteRule ^profile/password/?$ profile.php?action=password [L,QSA]
RewriteRule ^users/?$ users.php [L,QSA]
RewriteRule ^users/([1-9][0-9]*)/?$ users.php?id=$1 [L,QSA]
RewriteRule ^dashboard/?$ dashboard.php [L,QSA]
RewriteRule ^logs/?$ logs.php [L,QSA]
